@import "tailwindcss";

@keyframes hoverBattleCard{
  to{
    transform: rotate(0deg) translate(42.5vw,20vh) scale(2);
    z-index: 1;
  }
}

@keyframes unhoverBattleCard{
  from{
    transform: rotate(0deg) translate(42.5vw,20vh) scale(2);
    z-index: 1;
  }
  to{
    scale: 1;
  }
}